<div class="form"> 
  <form #loginform="ngForm" (ngSubmit)="loginUser()">
    <div id="login-form">
      <h1>Login</h1>
      
      <div class="form-group">
        
        <input class="fas fa-user" type="text" placeholder="Username" name="username" value="" required>
        
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" name="password" value="" required>
      </div>
      <button type="submit" class="btn btn-dark">Login</button>

    </div>
    
  </form>
</div>